<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Live GPS tracking. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- geolocator's location service (and M4 background recording) needs a
         foreground service of type "location" on Android 14+. Without these the
         location service fails to start and no position updates are delivered. -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION"/>
    <!-- Keep the handlebar display awake (wakelock_plus). -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- BLE cycling sensors (HR / speed-cadence / power). neverForLocation: we
         don't derive location from BLE scans, so scanning needs no location. -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30"/>

    <application
        android:label="cycle"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <!-- We handle opened/shared .gpx files ourselves via the
                 cycle/incoming_gpx MethodChannel. Disable Flutter's URI deep
                 linking so go_router doesn't try to route the file:// intent
                 data and show "Page Not Found". -->
            <meta-data
              android:name="flutter_deeplinking_enabled"
              android:value="false"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- Open a .gpx file with Cycle (file managers, downloads, mail
                 attachments). GPX mime types vary, so match the common ones. -->
            <intent-filter android:label="Follow GPX route">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="content"/>
                <data android:scheme="file"/>
                <data android:host="*"/>
                <data android:mimeType="application/gpx+xml"/>
                <data android:mimeType="application/xml"/>
                <data android:mimeType="text/xml"/>
            </intent-filter>
            <!-- Fall back to matching by .gpx extension when the mime type is
                 generic/unknown (common for downloads and file:// URIs). -->
            <intent-filter android:label="Follow GPX route">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="content"/>
                <data android:scheme="file"/>
                <data android:host="*"/>
                <data android:mimeType="application/octet-stream"/>
                <data android:pathPattern=".*\\.gpx"/>
                <data android:pathPattern=".*\\..*\\.gpx"/>
            </intent-filter>
            <!-- Share a .gpx to Cycle. -->
            <intent-filter android:label="Follow GPX route">
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/gpx+xml"/>
                <data android:mimeType="application/octet-stream"/>
                <data android:mimeType="application/xml"/>
                <data android:mimeType="text/xml"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
